/*
 * Base structure
 */

body {
    font-family: 'Noto Sans KR', sans-serif;
}

a {
    text-decoration: None;
}

/*
 * Flip Animation
 */

.animated {
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.animated.flip {
  backface-visibility: visible;
  animation-name: flip;
  font-size: 30px;
  font-weight: bolder;
  width: 150px;
  text-align: center;
}

@keyframes flip {
  50% {transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.8);animation-timing-function: ease-in;}
  80% {transform: perspective(400px) translateZ(0) rotateY(360deg) scale(.95);animation-timing-function: ease-in;}
  100% {transform: perspective(400px) translateZ(0) rotateY(360deg) scale(1);animation-timing-function: ease-in;}
}


/*
 * Dialogflow Chatbot
 */

df-messenger {
    df-messenger-button-titlebar-color: #198754;
}
