{% extends 'base.html' %}
{% block background %}

<!--헤더 배경-->
<div id="intro" class="bg-image vh-100 shadow-1-strong">
    <video id="video1" style="min-width: 100%; min-height: 100%;" autoplay muted playsinline loop>
      <source class="h-100" src="{{ url_for('static', filename='videos/bg_video.mp4') }}" type="video/mp4" />
    </video>
    <div class="mask d-flex align-items-center"     style="
    background: linear-gradient(
      45deg,
      rgba(29, 236, 197, 0.7),
      rgba(91, 14, 214, 0.7) 100%
    );">
        {% block content %}
        {% endblock %}
    </div>
</div>

{% endblock %}