{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css') }}" />
<div class="container d-flex align-items-center justify-content-center text-center h-100">
    <div class="box">
        <div class="title">
            <span class="block"></span>
            <h1>두피날레<span></span></h1>
        </div>

    <div class="role">
        <div class="block"></div>
            <p>AI 기반 두피 유형 진단 서비스</p>
        </div>
    </div>
</div>
{% endblock %}