{% extends 'background.html' %}
{% block bgcontent %}

  <!--헤더 인트로-->
  <div class="container d-flex align-items-center justify-content-center text-center h-100">
    <div class="box text-white">

      <div class="title">
        <span class="block"></span>
        <h1 class="mb-3">DoFinale<span></span></h1>
      </div>

      <div class="role">
        <div class="block"></div>
        <p class="pt-2 mb-4">AI 기반 두피 유형 진단 서비스</p>
      </div>

    </div>
  </div>

  <!--css-->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/reveal.css') }}" />
{% endblock %}