{% extends 'base.html' %}
{% block content %}

<!--Main layout-->
  <main class="my-5">

    <div class="container px-5">

        <h2 class="px-3"><strong>{{ board.board_name }} 두피 유저 모임</strong></h2>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb p-3">
            <li class="breadcrumb-item"><a href="{{ url_for('main.index') }}">홈</a></li>
            <li class="breadcrumb-item"><a href="{{ url_for('post.community') }}">커뮤니티</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ board.board_name }} 두피 유저 모임</li>
          </ol>
        </nav>
        <hr class="hr" />

      {% if not userpost_list.items[0] %}
        <a href="{{ url_for('post.create', board_id=board.id) }}" class="btn btn-primary">게시글 등록</a>
      {% else %}
        <!--Section: News of the day-->
    <section class="border-bottom pb-4 mb-5">
      <div class="row gx-5">
        <div class="col-md-4 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            {% if not userpost_list.items[0].img_upload %}
            <img src="{{ url_for('static', filename='images/stock/post_sample.jpg') }}" class="img-fluid" style="overflow: hidden;"/>
            {% else %}
            <img src="{{ url_for('static', filename='images/post/'+userpost_list.items[0].img_upload) }}" class="img-fluid" style="overflow: hidden;"/>
            {% endif %}
            <a href="{{ url_for('post.detail', userpost_id=userpost_list.items[0].id) }}">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-8 mb-4">
          <span class="badge bg-danger px-2 py-1 shadow-1-strong mb-3">최신글</span>
          <h4><strong>{{ userpost_list.items[0].subject }}</strong></h4>
          <p class="text-muted">
            {% if userpost_list.items[0].content|length > 200 %}
              {{ userpost_list.items[0].content[:200] + '...' }}
            {% else %}
              {{ userpost_list.items[0].content }}
            {% endif %}
          </p>
          <button type="button" class="btn btn-primary">본문 읽기</button>
        </div>
      </div>
    </section>
    <!--Section: News of the day-->






      <!--Grid row-->
      <div class="row py-3">
        <!--Grid column-->
        <div class="col-md-9 mb-4">
          <!--Section: Content-->
          <section>

        {% for userpost in userpost_list.items[1:] %}
            <!-- Post -->
            <div class="row">
              <div class="col-md-2 mb-4">
                <div class="bg-image hover-overlay shadow-1-strong rounded ripple" data-mdb-ripple-color="light">
                    {% if not userpost.img_upload %}
                    <img src="{{ url_for('static', filename='images/stock/post_sample.jpg') }}" class="img-fluid" style="overflow: hidden;"/>
                  {% else %}
                    <img src="{{ url_for('static', filename='images/post/'+userpost.img_upload) }}" class="img-fluid" />
                    {% endif %}
                  <a href="{{ url_for('post.detail', userpost_id=userpost.id) }}">
                    <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                  </a>
                </div>
              </div>

              <div class="col-md-10 mb-4">
                  <h5><strong>{{ userpost.subject }}</strong></h5>
                <p class="text-muted">
                  {% if userpost.content|length > 200 %}
              {{ userpost.content[:200] + '...' }}
            {% else %}
              {{ userpost.content }}
            {% endif %}
                </p>

                <button type="button" class="btn btn-primary">Read</button>
              </div>
            </div>
              {% endfor %}
              <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if userpost_list.has_prev %}
        <li class="page-item">
            <a class="page-link" href="?page={{ userpost_list.prev_num }}">이전</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">이전</a>
        </li>
        {% endif %}
        {% for page_num in userpost_list.iter_pages() %}
        {% if page_num %}
        {% if page_num != userpost_list.page %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
        </li>
        {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="javascript:void(0)">{{ page_num }}</a>
        </li>
        {% endif %}
        {% else %}
        <li class="disabled">
            <a class="page-link" href="javascript:void(0)">...</a>
        </li>
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if userpost_list.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ userpost_list.next_num }}">다음</a>
        </li>
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="javascript:void(0)">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
              <div class="text-center">
              <a href="{{ url_for('post.create', board_id=board.id) }}" class="btn btn-primary">게시글 등록</a>
                  </div>
          </section>
          <!--Section: Content-->
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 mb-4">
          <!--Section: Sidebar-->
          <section class="sticky-top" style="top: 80px;">
            <!--Section: Ad-->
            <section class="text-center border-bottom pb-4 mb-4">
              <div class="bg-image hover-overlay ripple mb-4">
                <img
                  src="https://mblogthumb-phinf.pstatic.net/MjAyMDA5MTZfMjEg/MDAxNjAwMjI1MTE2MTQ3.LKoiEIY06aO9vbCMrvdHukIxkOONyp_RfhX6r3mWmX8g.yDwbTwiBrxUgRTZgpJRzCdAhEX9HinSlSXkCDgSLq1gg.PNG.gsh8600/image.png?type=w800"
                  class="img-fluid"/>
                <a href="https://m.blog.naver.com/gsh8600/222090964017" target="_blank">
                  <div class="mask" style="background-color: rgba(57, 192, 237, 0.2);"></div>
                </a>
              </div>
              <h5>(광고) 홍앤유 클리닉</h5>
              <p>
                  소중한 모발 늦지않게 지켜주세요!
                  여성두피피부과/탈모주사  홍앤유클리닉
              </p>
            </section>
            <!--Section: Ad-->

            <!--Section: Video-->
            <section class="text-center">
              <h5 class="mb-4">두피 케어 추천 영상</h5>

              <div class="embed-responsive embed-responsive-16by9 shadow-4-strong">
                <iframe class="embed-responsive-item rounded" src="https://www.youtube.com/embed/QJhwYpJ89hc"
                  allowfullscreen></iframe>
              </div>
            </section>
            <!--Section: Video-->
          </section>
          <!--Section: Sidebar-->
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->


    </div>
  </main>
  <!--Main layout-->

{% endif %}
{% endblock %}