{% extends "base.html" %}
{% block content %}
<div class="container">

    <!--  로그인이 안 된 상태에서 로그인이 필요한 서비스에 접속하는 경우 경고창을 띄워줌  -->
    {% if request.args.get('next', '') %}
    <div class="alert alert-danger" role="alert">
        로그인을 먼저 진행하세요.
    </div>
    {% endif %}

    <h5 class="my-3 border-bottom pb-2">로그인</h5>
    <form method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}
        <div class="mb-3">
            <label for="userid">사용자 이름</label>
            <input type="text" class="form-control" name="userid" id="userid"
                   value="{{ form.userid.data or '' }}">
        </div>
        <div class="mb-3">
            <label for="userpw">비밀번호</label>
            <input type="password" class="form-control" name="userpw" id="userpw"
                   value="{{ form.userpw.data or '' }}">
        </div>
        <button type="submit" class="btn btn-primary">로그인</button>
    </form>
</div>
{% endblock %}