{% extends 'background.html' %}
{% block bgcontent %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-xl-5 col-md-8">

      <form class="bg-white rounded shadow-5-strong my-3 p-5" method="post">
        {{ form.csrf_token }}
        {% include "form_errors.html" %}

        <h2 class="mb-3 pb-2 text-center">회원 가입</h2>

        <!-- 아이디 입력 -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="userid" id="userid"
                   value="{{ form.userid.data or '' }}">
          <label class="form-label" for="userid">아이디</label>
        </div>

        <!-- 비밀번호 입력 -->
        <div class="form-outline mb-4">
          <input type="password" class="form-control" name="userpw1" id="userpw1"
                   value="{{ form.userpw1.data or '' }}">
          <label class="form-label" for="userpw1">비밀번호</label>
        </div>

        <!-- 비밀번호 확인 -->
        <div class="form-outline mb-4">
          <input type="password" class="form-control" name="userpw2" id="userpw2"
                   value="{{ form.userpw2.data or '' }}">
          <label class="form-label" for="userpw2">비밀번호 확인</label>
        </div>

        <!-- 이름 입력 -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="name" id="name"
                   value="{{ form.name.data or '' }}">
          <label class="form-label" for="name">이름</label>
        </div>

        <!-- 이메일 입력 -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="email" id="email"
                   value="{{ form.email.data or '' }}">
          <label class="form-label" for="email">이메일</label>
        </div>

        <!-- 연락처 입력 -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="phone" id="phone"
                   value="{{ form.phone.data or '' }}">
          <label class="form-label" for="phone">연락처</label>
        </div>

        <!-- 주소 입력 -->
        <div class="form-outline mb-4">
          <input type="text" class="form-control" name="address" id="address"
                   value="{{ form.address.data or '' }}">
          <label class="form-label" for="address">주소</label>
        </div>


        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block">
          <strong>회원 가입</strong>
        </button>

      </form>

    </div>
  </div>
</div>

{% endblock %}