{% extends 'base.html' %}
{% block content %}
<form method="post" action="{{ url_for('service.scalp_diagnosis') }}" enctype="multipart/form-data">
    <div class="form-group mx-sm-5 mb-5 my-5" style="margin-right: 10rem!important; margin-left: 10rem!important;">
      <label for="formFile" class="form-label">원하는 두피 진단 부위의 근접 촬영 이미지를 올려주시면<br><br>AI 챗봇 'Doofy"가 두피 유형을 분석 후<br><br>맞춤 제품과 가까운 모발 전문 병원을 추천해드립니다!<br><br>▼ 이미지를 업로드하세요. ▼</label>
      <input class="form-control" type="file" id="formFile" name="file">
      <button type="submit" class="btn btn-primary my-2">사진 전송</button>
    </div>
</form>

{% if btnclick %}
{% include "chatbot.html" %}
{% endif%}

{% endblock %}