{% extends 'base.html' %}
{% block content %}

<!--헤더 영역-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">두피 유형별 추천 제품 목록</h1>
            <p class="lead fw-normal text-white-50 mb-0">DoFinale가 직접 조사하고 선별한 유형별 추천 제품 목록입니다.</p>
        </div>
    </div>
</header>


<!--Main layout-->
    <main class="mt-5">
      <div class="container w-75 align-itmes-center">
        <!--Section: Content-->
        <section>
          <div class="row">
            <div class="col-md-6 gx-5 mb-4">
              <div class="bg-image hover-overlay ripple shadow-2-strong" data-mdb-ripple-color="light">
                <img src="{{ url_for('static', filename='images/stock/AI_robot.jpg') }}" class="img-fluid" />
<!--                <a href="#!">-->
<!--                  <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>-->
<!--                </a>-->
              </div>
            </div>

            <div class="col-md-6 gx-5 mb-4">
              <h4><strong>AI 기반 두피 유형 분석 서비스</strong></h4>
              <p class="text-muted">
                건강한 머릿결을 위한 올바른 두피 관리는 자신의 두피 유형을 아는 것에서부터 시작됩니다.
                하지만 의료지식이 부족한 일반인이 전문의 소견 없이 자신의 두피 유형을 파악하는 것은 쉽지 않습니다.
                Team DoFinale는 약 10만 건에 달하는 다양한 유형의 두피 이미지를 학습시킨
                AI 이미지 분류 모델을 통해 간단한 사진 촬영만으로 두피 유형을 파악할 수 있는 서비스를 개발했습니다.
              </p>
              <p><strong>어떤 문항을 체크하나요?</strong></p>
              <p class="text-muted">
                샴푸 사용 빈도, 펌 및 염색 주기, 사용 중인 두피 및 모발용 제품,
                샴푸 구매 시 중요하게 여기는 고려사항 등 두피에 영향을 끼칠 수 있는 생활 습관을
                종합적으로 체크합니다.
                <br><br>
                아래의 버튼을 클릭하면 두피유형 분석을 도와드릴 AI 챗봇으로 연결됩니다.
              </p>

              <div class="py-4 text-center">
                <form method="post">
                  <button type="submit" class="btn btn-primary btn-lg m-2">나의 두피 유형 알아보기</button>
<!--                  <a-->
<!--                    role="button"-->
<!--                    class="btn btn-primary btn-lg m-2"-->
<!--                    href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"-->
<!--                    rel="nofollow"-->
<!--                    target="_blank"-->
<!--                  >-->
<!--                    챗봇으로 진단 받기-->
<!--                  </a>-->
                </form>
              </div>
                </div>
            </div>

          <div class="col-md-6 gx-5 mb-4">
              <h4><strong>AI 기반 두피 유형 분석 서비스</strong></h4>
              <p class="text-muted">
                건강한 머릿결을 위한 올바른 두피 관리는 자신의 두피 유형을 아는 것에서부터 시작됩니다.
                하지만 의료지식이 부족한 일반인이 전문의 소견 없이 자신의 두피 유형을 파악하는 것은 쉽지 않습니다.
                Team DoFinale는 약 10만 건에 달하는 다양한 유형의 두피 이미지를 학습시킨
                AI 이미지 분류 모델을 통해 간단한 사진 촬영만으로 두피 유형을 파악할 수 있는 서비스를 개발했습니다.
              </p>
              <p><strong>어떤 문항을 체크하나요?</strong></p>
              <p class="text-muted">
                샴푸 사용 빈도, 펌 및 염색 주기, 사용 중인 두피 및 모발용 제품,
                샴푸 구매 시 중요하게 여기는 고려사항 등 두피에 영향을 끼칠 수 있는 생활 습관을
                종합적으로 체크합니다.
                <br><br>
                아래의 버튼을 클릭하면 두피유형 분석을 도와드릴 AI 챗봇으로 연결됩니다.
              </p>

              <div class="py-4 text-center">
                <form method="post">
                  <button type="submit" class="btn btn-primary btn-lg m-2">나의 두피 유형 알아보기</button>
<!--                  <a-->
<!--                    role="button"-->
<!--                    class="btn btn-primary btn-lg m-2"-->
<!--                    href="https://www.youtube.com/channel/UC5CF7mLQZhvx8O5GODZAhdA"-->
<!--                    rel="nofollow"-->
<!--                    target="_blank"-->
<!--                  >-->
<!--                    챗봇으로 진단 받기-->
<!--                  </a>-->
                </form>
              </div>
                </div>
          </div>
        </section>
        <!--Section: Content-->
        </div>
    </main>
    <!--Main layout-->

{% endblock %}